# Front-end mode
VITE_API_MODE=mock
VITE_FORCE_API_ERROR=false
VITE_ENABLE_MOCK_FAILURE=false

# Vite proxy target for ESL BFF
VITE_BFF_TARGET=http://127.0.0.1:8787

# ESL BFF server
BFF_PORT=8787
ESL_ENABLE_JOBS=true
ESL_HOST=https://esl.greendisplay.cn
ESL_CLIENT_ID=default
ESL_SIGN=replace_with_real_sign
ESL_STORE_CODE=001
ESL_IS_BASE64=0
